<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'styles/bootstrap.css'%}" rel="stylesheet"/>
    <link href="{% static 'styles/bootstrap-theme.css'%}" rel="stylesheet"/>
    <link href="{% static 'styles/bootstrap-theme.min.css'%}" rel="stylesheet"/>
    <link href="{% static 'styles/bootstrap-theme.css'%}" rel="stylesheet"/>
    <link href="{% static 'styles/style.css'%}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/aj.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/scripts.js'%}" type="text/javascript"></script>
    <title>Star Wars Test</title>
</head>
<script>
var soundtrack = new Audio('{% static "ost/Star Wars Main Theme (Full).mp3"%}');
    soundtrack.play();
    function ending() {
        soundtrack.pause();
        soundtrack = new Audio('{% static "ost/star wars cantina.mp3" %}');
        soundtrack.play();
    }
</script>
<body onload = "myfunc(qset = {{ questions|length }})" >
{% for data in questions %}
    {% if forloop.first %}
        <div class= "jumbotron container" id="{{ data.id }}">
        {% else %}
        <div class= "jumbotron container" id="{{ data.id }}" style="display: none;">
    {% endif %}
    <h1>{{ data.subj}}</h1>
    {% if data.img_pic %}
        <img src="{{ data.img_pic.url }}" class="img-responsive"/>
    {% endif %}
    <div class="btn-group">
    {% if data.answer1  %}
        <p>
        <button type="button"  class="btn btn-default" value="{{data.answer1.id}}">{{data.answer1}}</button>
        </p>
        {% endif %}
     {% if data.answer2  %}
         <p>
        <button type="button" class="btn btn-default" value="{{data.answer2.id}}">{{data.answer2}}</button>
         </p>
        {% endif %}
     {% if data.answer3  %}
         <p>
        <button type="button" class="btn btn-default" value="{{data.answer3.id}}">{{data.answer3}}</button>
         </p>
        {% endif %}
     {% if data.answer4 %}
         <p>
        <button type="button" class="btn btn-default" value="{{data.answer4.id}}">{{data.answer4}}</button>
         </p>
        {% endif %}
    </div>
</div>
{% endfor %}
    <div class= "jumbotron container" id="bad_finish" style="display: none">
    <h2>Well, you have to try again. </h2>
        <p><span id="bad_finish_stats"></span></p>
    <img src="{% static 'static_img/binks.jpg' %}" width="300" height="300">
    </div>
<div class= "jumbotron container" id="master_finish" style="display: none">
    <h2>Strong force with you i feel, will jedi you be.</h2>
    <p><span id="master_finish_stats"></span></p>
    <img src="{% static 'static_img/Yoda.png' %}" width="300" height="300">
</div>
<div class= "jumbotron container" id="regular_finish" style="display: none">
    <h2>You need to  complete your training. And </h2>
    <img src="{% static 'static_img/regular.jpg' %}" width="300" height="300">
    <p><span id="regular_finish_stats"></span></p>
</div>
</body>
</html>